node_modules
dist
.env
build
components/docs/.docusaurus
components/docs/build
zarf-package-*.tar.zst
.DS_Store
npm-debug.log*
*.tsbuildinfo
client/dist
server/dist
frontend/dist
backend/dist
docs/build
shared/dist
frontend/src/components/aide-forms/
